# 환경 설정 파일
.env
.env.*

# Python 관련 파일
*.py[cod]
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo

# 데이터베이스 파일
*.db
*.sqlite3

# 로그 파일
*.log
logs/

# 기타 시스템 파일
.DS_Store
Thumbs.db